@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43.8462 86.6667% 94.1176%;
    --foreground: 192.2034 80.8219% 14.3137%;
    --card: 45.6000 42.3729% 88.4314%;
    --card-foreground: 192.2034 80.8219% 14.3137%;
    --popover: 45.6000 42.3729% 88.4314%;
    --popover-foreground: 192.2034 80.8219% 14.3137%;
    --primary: 330.9554 64.0816% 51.9608%;
    --primary-foreground: 0 0% 100%;
    --secondary: 175.4622 58.6207% 39.8039%;
    --secondary-foreground: 0 0% 100%;
    --muted: 180 6.9307% 60.3922%;
    --muted-foreground: 192.2034 80.8219% 14.3137%;
    --accent: 17.5691 80.4444% 44.1176%;
    --accent-foreground: 0 0% 100%;
    --destructive: 1.0405 71.1934% 52.3529%;
    --destructive-foreground: 0 0% 100%;
    --border: 186.3158 8.2969% 55.0980%;
    --input: 186.3158 8.2969% 55.0980%;
    --ring: 330.9554 64.0816% 51.9608%;
    --chart-1: 204.7674 69.3548% 48.6275%;
    --chart-2: 175.4622 58.6207% 39.8039%;
    --chart-3: 330.9554 64.0816% 51.9608%;
    --chart-4: 17.5691 80.4444% 44.1176%;
    --chart-5: 1.0405 71.1934% 52.3529%;
    --font-sans: Outfit, sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: Space Mono, monospace;
    --radius: 0.25rem;
  }

  .dark {
    --background: 192.2222 100.0000% 10.5882%;
    --foreground: 180 6.9307% 60.3922%;
    --card: 192.2034 80.8219% 14.3137%;
    --card-foreground: 180 6.9307% 60.3922%;
    --popover: 192.2034 80.8219% 14.3137%;
    --popover-foreground: 180 6.9307% 60.3922%;
    --primary: 330.9554 64.0816% 51.9608%;
    --primary-foreground: 0 0% 100%;
    --secondary: 175.4622 58.6207% 39.8039%;
    --secondary-foreground: 0 0% 100%;
    --muted: 194.4828 14.1463% 40.1961%;
    --muted-foreground: 180 6.9307% 60.3922%;
    --accent: 17.5691 80.4444% 44.1176%;
    --accent-foreground: 0 0% 100%;
    --destructive: 1.0405 71.1934% 52.3529%;
    --destructive-foreground: 0 0% 100%;
    --border: 194.4828 14.1463% 40.1961%;
    --input: 194.4828 14.1463% 40.1961%;
    --ring: 330.9554 64.0816% 51.9608%;
    --chart-1: 204.7674 69.3548% 48.6275%;
    --chart-2: 175.4622 58.6207% 39.8039%;
    --chart-3: 330.9554 64.0816% 51.9608%;
    --chart-4: 17.5691 80.4444% 44.1176%;
    --chart-5: 1.0405 71.1934% 52.3529%;
    --font-sans: Outfit, sans-serif;
    --font-mono: Space Mono, monospace;
    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
  }
}